:root {
  --font-inconsolata: 'Inconsolata';
  --font-space-mono: 'Space Mono';
  --font-montserrat: 'Montserrat';
  --text-gray: #333333;
}

body {
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figure {
  margin: 0;
}

.wrapper {
  padding: 2.5rem 4.8125rem;
}

header {
  font-family: var(--font-inconsolata);
}

p {
  margin: 0;
}

footer {
  font-family: var(--font-montserrat);
}
